.thumbnailCustom {
	width: 70px;
	height: 70px;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	background-color: #fff;
	cursor: pointer;
}

.fontCustom {
	font-family: "Monserrat-Regular", sans-serif;
}

.selectedThumbnail {
	border: 2px solid #7a4a58;
}


.carouselArrow {
	color: #7a4a58; 
  }
  

  .carouselIndicator {
	background-color: #7a4a58; 
	width: 20px; 
	height: 20px;
	border-radius: 50%;
	margin-left: 3px;
	margin-right: 3px;
  }

