.sizeMatrix {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0;
	margin-left: 0;
}

.sizeSquare {
	width: 3.5rem;
	height: 3.5rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	border-radius: 0;
	background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selected {
	background-color: #7a4a58;
	color: #fff;
}
