.filterContainer {
	padding: 30px;
	margin-top: 65px;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 30px;
	font-family: "Monserrat-Regular", sans-serif;
}

.colorSelect {
	cursor: pointer;
	padding-bottom: 0.5rem;
	font-family: "Monserrat-Regular", sans-serif;
}

.titleTag {
	font-size: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
